.aboutme {
    font-style: italic;
    &__header {
        text-decoration: underline;
    }
}

.job-experience {
    background-color: hotpink;
    &__header {
        background-color: blue;
    }
}